.root {
    -fx-background-color: #333333;
}
.label {
    -fx-font-size: 20;
    -fx-text-fill: aliceblue;
    -fx-font-family: "Century";
    -fx-font-weight: bold;
    -fx-underline: true;
}
.text {
    -fx-font-size: 14;
    -fx-text-fill: aliceblue;
    -fx-font-family: "Century";
}